<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Template_1.css">
    <title>Template_1</title>
</head>

<body>
    <div class="navbar1">
        <a href="#" style="float: left;">Gourmet au catering</a>
        <div class="navbar2">
            <a href="#">Contact</a>
            <a href="#">Menu</a>
            <a href="#">About</a>
        </div>
    </div>

    <div class="img1">
        <img src="https://www.w3schools.com/w3images/hamburger.jpg">
        
    </div>
</body>

</html>