/*home page css*/
body{
    background-color: black ;
    border-radius: 6px;
    height: 700px;
}

header {
    z-index: 999;
    position: absolute;
    width: 50%;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}
.navigation{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
}

@media screen and (max-width:1200px) {
    .navigation{
        width:40%;
    }
}
@media screen and (max-width:600px) {
    .navigation{
        width:90%;
    }
}


.Home img{
    position: absolute;
    padding-top: 130px;
    padding-left: 325px;
    height: 300px;
    width: 500px;
}

button{
    position: absolute;
    outline: none;
    border-radius: 20px;
    border-width: 0px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fe193f;
    background-color: #ffffff;
    padding: 8px 14px;
    margin-top: 500px;
    margin-left:  490px;
    letter-spacing: 2px;
}

button:hover{
    color: #ffffff;
    background-color: #fe193f;
    transition: 0.3s ease;
}

/* start page css */
.logo{
    margin: -8px;
    height: 120px;
}
.logo img{
    position: absolute;
    height: 90px;
    width: 150px;
}

.logo button{
    cursor: pointer;
    border: none;
    background: none;
    margin-top: 10px;
    margin-left: 100px;
}

.brand {
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 250px;
    margin-top: 50px;
}

.navigation .navigation-item1 a{
    position: absolute;
    color: white;
    margin-top: 20px;
    font-size: large;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation .navigation-item1 a:hover{
    transform: scale(1.2);
    transition: 0.3s ease;
    color: #fe193f;
}

.navigation .navigation-item2 a{
    position: absolute;
    color: white;
    margin-top: 20px;
    font-size: large;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation .navigation-item2 a:hover{
    transform: scale(1.2);
    transition: 0.3s ease;
    color: #fe193f;
}

.navigation .navigation-item3 a{
    position: absolute;
    color: white;
    margin-top: 20px;
    font-size: large;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation .navigation-item3 a:hover{
    transform: scale(1.2);
    transition: 0.3s ease;
    color: #fe193f;
}

.navigation .navigation-item4 a{
    position: absolute;
    color: white;
    margin-top: 20px;
    font-size: large;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation .navigation-item4 a:hover{
    transform: scale(1.2);
    transition: 0.3s ease;
    color: #fe193f;
}

.box{
    position: relative;
}
.box img{
    position: absolute;
    height: 700px;
    width: 450px;
    margin-left: 580px;
    transition: opacity is ease-in-out;
}

.box .chest:hover img{
    opacity: 0;
    cursor: pointer;
    transition: 0.5s ease;
}

.box .abs:hover img{
    opacity: 0;
    cursor: pointer;
    transition: 0.5s ease;
}

.box .obliques:hover img{
    opacity: 0;
    cursor: pointer;
    transition: 0.5s ease;
}

.box .quads:hover img{
    opacity: 0;
    cursor: pointer;
    transition: 0.5s ease;
}

.box .f-calfs:hover img{
    opacity: 0;
    cursor: pointer;
    transition: 0.5s ease;
}

.box .f-lats:hover img{
    opacity: 0;
    cursor: pointer;
    transition: 0.5s ease;
}

.box .f-traps:hover img{
    opacity: 0;
    cursor: pointer;
    transition: 0.5s ease;
}

.box .f-shoulders:hover img{
    opacity: 0;
    cursor: pointer;
    transition: 0.5s ease;
}

.box .biceps:hover img{
    opacity: 0;
    cursor: pointer;
    transition: 0.5s ease;
}

.box .forearms:hover img{
    opacity: 0;
    cursor: pointer;
    transition: 0.5s ease;
}